[Desktop Entry]
Name=Gvrecord
GenericName=record screen cast
Comment=Simple Tool To Record Gnome Shell Screen
Exec=gvrecord
Icon=org.github.yucefsourani.gvrecord
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;

